.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group 難しい
      %ul.main-header__left-box__member-list 
        Member :
        %li.main-header__left-box__member-list__member
          aga
    = link_to "#", class: "main-header__edit-btn" do
      Edit
  .messages
    .message
      .message__upper-info 
        %p.message__upper-info__talker aga
        %p.message__upper-info__date 2020/02/11(thu) 20:13:21
      %p.message__text あと少し
  .form
    %form.new_message
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "type a messages"}
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit", value: "Send", class: "submit-btn"}
        
    